# --- Безпека (Секрети) ---
.env
.env.local

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Віртуальне оточення ---
.venv/
venv/
env/

# --- База даних ---
*.db
*.sqlite
*.sqlite3

# --- Налаштування редакторів (IDE) ---
.idea/
.vscode/

# --- Логи (Журнали помилок) ---
*.log